/**/
* {
    /* Selector comodín (Selecciona todos los elementos html )
    "outline: 1px dashed crimson;" */
    /* Línea externa de 2px */
    margin: 0;
    /* Formatea espacios externos de elementos html */
    padding: 0;
    /* formatea espacio internos de elementos html */
    box-sizing: border-box;
    /* Considera bordes dentro de tamaño de elementos html */
}

Body {
    padding: 60px;
}

h1 {
    color: rebeccapurple;
}

.green {
    color: mediumseagreen;
}

#red {
    color: tomato;
}

.quote p {
    color: rgb(0, 4, 255);
    font-style: italic;
}

.quote h4 {
    color: rgb(102, 189, 247)
}

.header>img {
    /* solo afecta a los elementos directos (>)*/
    height: 50px;
    /* Altura de imagen */
}

#container p {
    /* Selecciona el parrafo dentro del contenedor (#) */
    font-size: 16px;
    /* Tamaño de la letra */
    background-color: #444;
    /* Color de fondo */
    color: white;
    /* Color de la letra */
}

#container p.highlight {
    font-weight: bold;
    color: gold;
}

form{
    padding:20px;
}

input[type="text"] { /* Selección de elementos a través de su propiedad (type="text") */
    border: 2px solid royalblue;
    padding:3px;
}

input[type="submit"] {
    color: white;
    background-color: mediumvioletred;
    border: none; /* Quita los bordes por defecto */
    padding:3px;
    cursor: pointer; /* Manito para realizar click */
}

.color_nombre{
    color:rgb(185, 0, 0);
    background-color: blue
}

.color_rgb{
    color:rgb(147, 22, 185);
    background-color: aqua;
}

.color_hex{
    color: #ff3e3e;
    background-color: dimgrey;
}