*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 40px;
    outline: solid 1px purple;
    font-family: 'Arial Narrow', sans-serif; /*tipografía (fuente)*/
}
.container{
    padding: 20px;
}
.textoIzquierda {
   text-align: left;  /* Alineado a la izquierda */
}

.textoCentro {
   text-align: center;  /* Alineado al centro */
}

.textoDerecha {
   text-align: right;  /* Alineado a la derecha */
}

.subtitulo1 {
   text-decoration: underline;  /* Subrayado */
   font-style: italic;  /* Cursiva */
}

.tachado {
   text-decoration: line-through;  /* Texto tachado */
}

.sinDecoracion {
   text-decoration: none;  /* Sin decoración */
}
/*grosor de fuente*/
.negrita {
   font-weight: bold;  /* Negrita */
}

.semiNegrita {
   font-weight: 100;  /* Fuente más delgada */
}